@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700');

html {
  font-size: 62.5%;
  background-color: #FFF;
}

body {
  width: 90%;
  margin: 0 auto;
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #1A181B;
}

h1 {
  max-width: 800px;
  color: #284B63;
}

p {
  margin-top: 0;
  margin: 0 auto;
}

img {
  max-width: 300px;
  max-height: 300px;
  padding: 0px 9px;
}

h3 {
  max-width: 800px;
  text-align: center;
}

#message-box {
  max-width: 960px;
  color: #3C6E71;
}

#photoBoxParent {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}




.photoBoxes {
  width: 318px;
  height: 375px;
  border: 1px solid #D9D9D9;
}
